*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
body{
    background: black;
}
h1{
    font-size: 100px;
    color:transparent;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/9b/ee/c6/9beec64d65bea6a1e90ad9767931f9d7.gif);
    background-size: cover;
    background-clip: text;

}
